@import "../../SCSS/mixin";

.Account {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  &__personeCard {
    background-color: #333;
    border-radius: 16px;
    gap: 16px;
    width: 300px;
    height: 500px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 100px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
    h2 {
      background-color: #fff;
      font-size: 32px;
      font-weight: 700;
      border-radius: 16px;
      padding: 4px 8px;
      i {
        margin-right: 8px;
      }
    }
    p {
      background-color: #fff;
      font-weight: 700;
      border-radius: 16px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      i {
        font-size: 22px;
        margin-right: 8px;
      }
    }
    button {
      height: 30px;
      margin-top: 35%;
      width: 150px;
      font-size: 22px;
      font-weight: 600;
      height: 40px;
      padding: 4px 8px;
      border-radius: 16px;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: #333;
        border: #fff 2px solid;
        scale: 1.05;
      }
    }
  }
  &__edit {
    position: absolute;
    z-index: 1;
    right: -10px;
    top: -10px;
    background-color: #fff;
    font-size: 22px;
    border-radius: 16px;
    padding: 4px 8px;
    border: 2px solid #333;
    cursor: pointer;
  }
  &__purchases {
    width: 70%;
    height: 600px;
    background-color: #333;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    h2 {
      background-color: #fff;
      width: 300px;
      margin-top: 15px;
      margin-left: 15px;
      padding: 4px 8px;
      border-radius: 16px;
    }
  }
  &__orderHistory {
    margin-top: 15px;
    margin-left: 20px;
    height: 200px;
    border-radius: 16px;
    background-color: #fff;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    h2 {
      height: 60px;
      width: 200px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
  &__favorites {
    margin-top: 15px;
    margin-left: 20px;
    height: 200px;
    border-radius: 16px;
    background-color: #fff;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    h2 {
      height: 60px;
      width: 200px;
    }
    img {
    }
  }
  &__image {
    border: 1px solid black;
    padding: 4px 8px;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 16px;
  }
}
