@import "../SCSS/mixin";

header {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 1440px;
  background-color: #3d3d3d;
  height: 60px;
  @include dFlex(row,space-between,center);
  padding: 0.4em 0.8em;
  border-radius: 18px;
  margin-top: 12px;
  i {
    font-size: 26px;
  }
  .Logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
    i {
      font-size: 40px;
      padding: 4px 8px;
    }
  }
  nav {
    ul {
      display: flex;
      background-color: #fff;
      border-radius: 16px;
      cursor: pointer;
      li {
        border-left: 3px solid rgb(71, 71, 71);
        padding: 0 15px;
       i{
        color: rgb(71, 71, 71);
       }
        &:hover {
          background-color: rgb(71, 71, 71);
          border: none;
          i{
            color: #fff;
          }
          &:first-child {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
          }
          &:last-child {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
          }
        }
        &:first-child {
          border: none;
        }
        a {
          padding: 2px;
        }
      }
    }
  }
  .Search {
    width: 60%;
    height: 45px;
    border-radius: 16px;
    background-color: white;
    form {
      @include dFlex(row,space-between,center);
      padding-left: 6px;
      padding-right: 6px;
      button {
        border: none;
        background-color: inherit;
        margin-right: 15px;
        margin-top: 5px;
        i {
          font-size: 32px;
        }
      }
      input{
        margin-top: 5px;
        height: 35px;
        width:100%;
        border: none;
        &::placeholder{
          padding: 6px;
          font-size: 18px;
          color: rgb(95, 95, 95);
        }
      }
    }
  }
}
